@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap");

@-ms-viewport {
  width: device-width;
}

/* Side Navigation Menu */
.item ul, input[type="checkbox"] {
  display: none;
  color: #28231b;
}

.item {
max-width: 500px;

}

#menu:checked ~ .multi-level, .item input:checked ~ ul {
  display: block;
}

/*Arrow*/

.arrow {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  float: right;
  z-index: 0;
  margin: 20px 1em 0 2em;
}

.item input + .arrow {
  transform: rotate(-90deg);
  transition: 0.1s;
}
.item input:checked + .arrow {
  transform: rotate(0deg);
  transition: 0.1s;
}


/*Styles*/

label:hover {
  cursor: pointer;
}

label {
  width: 100%;
  display: block;
  position: relative;
  max-width: 500px;
  margin: auto;
}


.nav ul, .nav li, label {
  line-height: 50px;
  list-style: none;
  width: 100%;
}

label[for=A], label[for=B], label[for=C] {
  color: #28231b;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  padding: 0 0.8em;
  font-weight: 500;
  font-size: 1.4rem;
}

label[for=A]:hover, label[for=B]:hover, label[for=C]:hover {
background: #28231B;
  color: #D0B88E;
}

/* .item ul {
  padding: 0 0.25em;
} */

/*Slider side menu*/
.slider-menu {
  width: 210px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-decoration: none;
  
}

.small-logo {
  display: flex;
  margin: 0 auto;
  margin-top: 12%;
  width: 60%;
}

h5 {
  font-family: "Playfair Display", serif;
  text-align: center;
  font-size: x-small;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 12%;
  margin-bottom: 9%;
}

/* Navigation Menu Items */

a {
  display: block;
  margin: 0.4em;
  font-family: "Playfair Display", serif;
  text-decoration: none;
  color: #28231b;
  font-weight: 500;
  font-size: 1.4rem;
  padding: 0 0.4em;
}

#link-todos:hover, #link-otras:hover { /*todos y otras*/
  background: #28231B;
  color: #D0B88E;
  margin: 0;
  text-decoration: none;
}

a#gry, a#sly, a#rav, a#huf {
  color:#28231b;
  font-size: small;
  margin-left: 34px;
}

a#est, a#sta {
  color: #28231b;
  font-size: small;
  margin-left: 34px;
}

a#san, a#mes, a#hij, a#squ {
  color:#28231b;
  font-size: small;
  margin-left: 34px;
}

/* .categor a:hover {
  background: #28231b;
  color: #d0b88e;
} */

li {
  list-style: none;
}

/* content wrapper, pantalla principal */

.content-wrap {
  background-image: url(img/background1.png);
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  bottom: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 4em;
  padding-left: 1em;
}

/* Trigger for Burger icon */

.menu-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type="checkbox"]:checked + label {
  left: 215px;
}

input[type="checkbox"]:checked ~ .content-wrap {
  left: 200px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  
}

label[for="menu-trigger"] {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  font-size: 30px;
  line-height: 30px;
  
}

.menu-trigger + label,
.content-wrap {
  transition: left 0.2s;
  -webkit-transition: 300ms ease-in all;
}

body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

/* reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  color: #28231b;
  height: 100%;
  width: 100%;
}

.pantalla-inicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89vh;
  max-width: 100%;
  position: relative;
}

.big-logo {
  position: relative;
  top: 50%;
  left: 0;
  margin-top: 10vh;
}

h3 {
  font-family: "Playfair Display", serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  font-size: 130%;
  position: relative;
  top: 10%;
  left: 0;
  
}

/* contenido que va apareciendo en la pantalla content-wrap */

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
  text-align: center;
}

.harryCards {
  font-size: 12px;
  width: 200px;
  height: 280px;
  text-align: center;
  border-radius: 4%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 21px 0 0 2.2%;
  
 
}

.harry-image {
  /* fotos personajes*/
  border-radius: 4%;
  position: relative;
  object-fit: cover;
  vertical-align: bottom;
  object-position: 50% 50%;
  width:100%;
  height: 280px;
  z-index: -1;
  
}

.harry-names {
  /*nombre personajes*/
  color: white;
  position: static;
  margin-top: -14%;
  text-shadow: 1px 5px 5px #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 8.5pt;
  letter-spacing: 0.2em;

 
}


/* modal */

.button {
  position: absolute;
  background: #fff;
  padding: 0.7em 0.7em;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  
}

.button:hover {
  background: #28231B;
}

.modal {
display:none;
position: fixed;
z-index: 1;
left: 0;
top: 0;
height: 100%;
width: 100%;
overflow: auto;
background-color: rgba(0, 0, 0, 0.7);

}

#modal-content {
background-color: #f4f4f4;
margin: 20% auto;
padding: 40px;
width: 30%;
box-shadow:  0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
border-radius: 3px;
animation-name: modalopen;
animation-duration: var(--modal-duration);

}

.close {
color: #28231b;
float: right;
font-size: 30px;

}

.close:hover,.close:focus {
  color: #D0B88E;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*Selector*/

.dropdown {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  height: 28px;
  width: 150px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
}

.dropdown:before, .dropdown:after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 9px;
  right: 10px;
  width: 0;
  height: 0;
  border: 4px dashed;
  border-color: #888888 transparent;
  pointer-events: none;
}

.dropdown:before {
  border-bottom-style: solid;
  border-top: none;
}

.dropdown:after {
  margin-top: 7px;
  border-top-style: solid;
  border-bottom: none;
}

.dropdown-select {
  position: relative;
  width: 130%;
  margin: 0;
  padding: 6px 8px 6px 10px;
  height: 28px;
  line-height: 14px;
  font-family: "Playfair Display", serif;
  font-variant: small-caps;
  font-weight: 600;
  letter-spacing: 2px;
  font-size: 11pt;
  border: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

.dropdown-dark {
  background: #28231B;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.4));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.4));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.1), 2px 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-dark:before {
  border-bottom-color: #FFF;
}

.dropdown-dark:after {
  border-top-color: #FFF;
}

.dropdown-dark .dropdown-select {
  color: #FFF;
  text-shadow: 0 1px black;
  background: #28231B;  /* Fallback for IE 8 */
}

.dropdown-dark:focus {
  color: #FFF;
}

.dropdown-dark > option {
  background: #28231B;
  text-shadow: 0 1px rgba(0, 0, 0, 0.4);
}

#selector {
top: 5.3em;
left: 1em;

}

/* @media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) {  */

  @media (min-width: 768px) { /*ipad landscape*/

  body{
    padding-bottom: 200px;
  }

  .container {
    overflow-y:hidden;
 
  }

  .slider-menu {
    width: 197px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    text-decoration: none;
    height: 100vh;
  }

  .content-wrap {
    background-image: url(img/background1.png);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 4em;
    padding-left: 1em;
  }
  
}

@media (min-width: 532px) { /*responsive portrait*/

  body{
    padding-bottom: 200px;
  }

  .container {
    overflow-y:hidden;
 
  }

  .slider-menu {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    text-decoration: none;
    height: 100vh;
  }

  .content-wrap {
    background-image: url(img/background1.png);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    padding: 4em;
    padding-left: 1em;
  }
  
}


@media (min-width: 360px) { /*small screen mobile*/

  body{
    padding-bottom: 200px;
  }

  .container {
    overflow-y:hidden;
 
  }

  .slider-menu {
    width: 197px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    text-decoration: none;
    height: 100vh;
  }

  .pantalla-inicio {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 60px;
  }
  
}