@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&display=swap');

@-ms-viewport {
  width: device-width;
}

/* Side Navigation Menu */

.side-menu { /*contenedor de menu*/
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  width: 2px;
  height: 100%;
  background: #ffffff;
}

.slider-menu {
  width: 210px;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  text-decoration: none;
}

.small-logo {

  display: flex;
  margin: 0 auto;
  margin-top: 12%;
  width: 60%;
}

h5 {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: x-small;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 12%;
  margin-bottom: 5%;

}

/* Navigation Menu Items */

a {
  display: block;
  padding: 1em;
  color: #fff;
  font-size: 1.1em;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
}

.categor a:hover {
  background: #28231B;
  color: #D0B88E;
}

li {
  list-style: none;
}

a {
  color: #28231B;
  font-weight: 500;
  text-decoration: none;
}

/* content wrapper, pantalla principal */

.content-wrap {

  background-image: url(img/background1.png);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 1em;
  padding-top: 3em;
  
}


/* Trigger for Burger icon */

.menu-trigger {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

input[type=checkbox]:checked+label {
  left: 215px;

}

input[type=checkbox]:checked~.content-wrap {
  left: 200px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
}

label[for="menu-trigger"] {
  position: fixed;
  left: 15px;
  top: 15px;
  z-index: 2;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}

.menu-trigger+label,
.content-wrap {
  transition: left 0.2s;
  -webkit-transition: 300ms ease-in all;
  transition: 300ms ease-in all;
}


body {
  /* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}


/* reset */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html,
body {
  color: #28231B;
  height: 100%;
  width: 100%;
  
}

.pantalla-inicio {
  
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
overflow:hidden;

}

.big-logo {
  

}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  text-align: center;
  letter-spacing: 2px;
  font-size: 130%;
  
}


/* contenido que va apareciendo en la pantalla content-wrap */

.results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
  flex: 0 0 900px;
 
  
}

.harryCards {
  font-size: 12px;
  margin: 1%;
  width: 200px;
  height: 280px;
  text-align: center; 
  border-radius: 4%;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
  
}

.harry-image { /* fotos personajes*/
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom; 
  border-radius: 4%;

}

.harry-names { /*nombre personajes*/
color: white;
text-shadow: 1px 5px 5px #000;

}